# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_NORTHSLOPE_DONGLE

config ZMK_KEYBOARD_NAME
    default "NorthSlope"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_NORTHSLOPE_LEFT || SHIELD_NORTHSLOPE_RIGHT || SHIELD_NORTHSLOPE_DONGLE

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y
endif